<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Details</title>
    <link rel="stylesheet" href="/static/doctor_details.css">
</head>
<body>

<div class="card">

    <h2>Dr. {{ doctor['username'] }}</h2>
    <p><strong>Specialization:</strong> {{ doctor['specialization'] }}</p>
    <p><strong>Department:</strong> {{ department }}</p>
    <p><strong>Email:</strong> {{ doctor['email'] }}</p>
    <hr>

    <h3>About Doctor</h3>
    <p class="about">{{ doctor['about'] }}</p>

    <div class="btn-row">
        <a href="{{ url_for('department_details', dept_id=doctor['department_id']) }}" class="btn back-btn">
            ← Back to Department
        </a>

        <a href="{{ url_for('doctor_availability', doctor_id=doctor['doc_id']) }}" class="btn avail-btn">
            Check Availability
        </a>
    </div>

</div>

</body>
</html>
