<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/registration.css">
</head>
<body>
    <div class="main">
    <div class="intro">
        <p class="int1">Your Commitment to Care Starts Here.</p>
    </div>
    <form action="" method="post">
            <div class="registration">
                <input type="text" id="username" name="username" required placeholder="Name">
                <input type="text" id="email" name="email" required placeholder="email">
                <input type="password" id="password" name="password" required placeholder="Password">
                <input type="text" id="specialization" name="specialization" required placeholder="Specialization">
                <input type="text" id="department" name="department" required placeholder="Department">
                <input type="text" id="about" name="about" required placeholder="Your one-line about… e.g., Experienced heart specialist with 8+ years">
                <div class="button-container">
                    <button type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>