<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Role</title>
    <link rel="stylesheet" href="/static/role.css">
</head>
<body>
    <div class="main">
    <div class="intro">
        <h1>Hi There, Please select your role.</h1>
        
    </div>
    <div class="roles">
        <a href="login_patient.html">Patient</a>
        <a href="login_doctor.html">Doctor</a>
        <a href="login_admin.html">Admin</a>
    </div>
    </div>
</body>
</html>